In [30]:
import pandas as pd
import sqlite3
import numpy as np

In [31]:
plz_df = pd. read_excel(r"..\data\external\plz_geocoord.xlsx", names=["plz","lat","lng"], dtype={"plz": np.str_})
plz_df.head()

     plz        lat        lng
0  01067  51.057550  13.717065
1  01069  51.039135  13.737675
2  01097  51.065908  13.736152
3  01099  51.087188  13.802804
4  01108  51.144324  13.799706

In [43]:
conn = sqlite3.connect(r"..\data\processed\plz.sqlite")
cur = conn.cursor()

In [ ]:
# cur.execute("DROP TABLE IF EXISTS Plz")

In [45]:
cur.execute("""CREATE TABLE IF NOT EXISTS Plz (
                id  INTEGER PRIMARY KEY,                
                plz TEXT UNIQUE,
                lat REAL,
                lng REAL,                
                car_distance_lmu INTEGER,
                car_time_lmu INTEGER,
                car_distance_tum INTEGER,
                car_time_tum INTEGER,
                car_distance_w端rzburg INTEGER,
                car_time_w端rzburg INTEGER,
                car_distance_erlangen INTEGER,
                car_time_erlangen INTEGER,
                car_distance_regensburg INTEGER,
                car_time_regensburg INTEGER,
                car_distance_augsburg INTEGER,
                car_time_augsburg INTEGER,
                transit_distance_lmu INTEGER,
                transit_time_lmu INTEGER,
                transit_distance_tum INTEGER,
                transit_time_tum INTEGER,
                transit_distance_w端rzburg INTEGER,
                transit_time_w端rzburg INTEGER,
                transit_distance_erlangen INTEGER,
                transit_time_erlangen INTEGER,
                transit_distance_regensburg INTEGER,
                transit_time_regensburg INTEGER,
                transit_distance_augsburg INTEGER,
                transit_time_augsburg INTEGER,
                google_retrieved INTEGER,
                date_calc TEXT
            )""")

In [46]:
for i in range(len(plz_df)):

    plz = plz_df.iloc[i]["plz"]
    lat = plz_df.iloc[i]["lat"]
    lng = plz_df.iloc[i]["lng"]
    #print(plz, lat, lng)

    cur.execute("""INSERT OR IGNORE INTO Plz    (plz,   lat,    lng,    google_retrieved)
                                        VALUES  (?,     ?,      ?,      0)""",
                                                (plz,   lat,    lng))

In [48]:
conn.commit()
cur.close()
conn.close()

ProgrammingError: Cannot operate on a closed database.